$font: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
}

main {
    padding: 0 10vw;
}

dl {
    margin: 1em;
    padding: 1em;
    flex: 0 1 18vw;
    background: #fe8686;
}

dt {
    font-size: 2em;
}

dd {
    margin: 0;
}

.resultCont {
    margin: 0 -1em;
    display: flex;
    flex-wrap: wrap;
}
